body.gracias {
    background-color:$color-principal !important; /* color de fondo */
    font-family: $fuente-principal;
}

.logo-gracias {
        width: 100px; /* Ajusta el ancho de la imagen */
        height: 100px; /* Ajusta la altura de la imagen */
        border-radius: 50%; /* Hace que la imagen tenga forma de círculo */
        object-fit: cover; /* Asegura que la imagen se recorte correctamente dentro del círculo */
        border: 2px solid #e3b8b2; /* Borde de 2px con color */
}

