$color-principal: #fffbd4;
$color-secundario: #f5ddbb;
$color-terciario: #ccded2;
$color-cuaternario: #e3b8b2;
$color-quintario: #a18093;
$color-seistario: #fff;
$fuente-principal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* fuente sans-serif */

